<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">
        <!--

        https://www.sitepoint.com/full-screen-bootstrap-carousel-random-initial-image/



        -->

        .
        <div class="container">
            <div class="row">
                <div class="col12">

                </div>
            </div>
        </div>
    </f:section>

</div>
