<f:layout name="Default"/>

<f:section name="cookiesDirective">

    <div class="container-fluid skin-black justify-content-center d-none px-24 py-48 mb-16" id="cookiesdirective">
        <p>
            <f:translate key="LLL:EXT:gjo_site_package/Resources/Private/Language/locallang.xlf:tiger.page.cookieDerective"/>
            <f:link.page pageUid="93">
                <f:translate key="LLL:EXT:gjo_site_package/Resources/Private/Language/locallang.xlf:tiger.page.cookieDerective.linktext"/>
            </f:link.page>
        </p>

        <button type="button" class="btn btn-products-default float-right waves-effect waves-light" id="cookiesdirectiveAccept">
            <f:translate key="LLL:EXT:gjo_site_package/Resources/Private/Language/locallang.xlf:tiger.page.cookieDerective.buttontext"/>
        </button>
    </div>

</f:section>