<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="Search">

        <form class="search-form form-inline d-none">
            <div class="md-form text-center">
                <input class="form-control search-sword m-0 px-12"
                       type="text"
                       aria-label="Search"
                >
            </div>
        </form>

    </f:section>

</div>
