<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Email"/>

    <f:section name="Main">

        <f:if condition="{success} == 'success' ">
            <f:then>
                <h2>BackupDatabaseTask - {success} (ID: {uid})</h2>
            </f:then>
            <f:else>
                <h2>ERROR!! - BackupDatabaseTask - {success} (ID: {uid})</h2>
            </f:else>
        </f:if>


        <p>
            Sitename: {siteName} <br/>
            Site: {site} <br/>
            Called by: {calledBy} <br/>
            tstamp: {tstamp} <br/>
            maxLifetime: {maxLifetime} <br/>
            start: {start} <br/>
            end: {end} <br/>
            interval: {interval} <br/>
            multiple: {multiple} <br/>
            cronCmd: {cronCmd} <br/>
            Message: {message}

        </p>

    </f:section>


</div>
