<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="main">
    <div class="neos-contentcollection">
        <div class="slide-headline header-text">
            <div class="neos-contentcollection">
                <div class="">
                    <h2>{page.label}</h2>
                </div>
            </div>
        </div>


        <div class="contact-form">
            <div class="neos-contentcollection">
                <div class="adressblock">
                    <div class="neos-contentcollection">
                        <div class="">
                            <div><p><strong>Hermann Francksen Nachf.<br> GmbH &amp; Co.KG</strong></p>
                                <p>Lesumbroker Landstraße 22,<br>
                                    28719 Bremen<br>
                                    Tel: +49 (0) 421 69446-0<br>
                                    Fax: +49 (0) 421 69446-11<br>
                                    E-Mail: <a href="info">info@tiger.de</a> <br></p></div>
                        </div>
                    </div>
                </div>


                <div class="form-elements">
                    <div class="neos-contentcollection">
                        <div class="">

                            <div class="panel"><h5>Vielen Dank für Ihre Anfrage.</h5>
                                <p>Wir werden Ihr Anliegen umgehend bearbeiten.</p></div>

                        </div>
                        <div class="route-button">
                            <p>Hier finden Sie uns:</p>
                            <a href="https://www.google.de/maps/place/TIGER+Hermann+Francksen+Nachf.+GmbH+%26+Co.+KG/@53.15684,8.70075,15z/data=!4m2!3m1!1s0x0:0xb9c4429bc9ab3a68"
                               class="button-box " target="_blank">Anfahrt</a>
                        </div>


                    </div>
                </div>


            </div>
        </div>


    </div>
</div>
</html>
