.scroll {
  opacity: 0;
  display: none;
}

.scroll.active {
  opacity: 1;
  display: block;
}

.move-top {
  background-color: black;
  bottom: 620px;
  height: 45px;
  min-height: 0;
  overflow-y: hidden;
  position: fixed;
  right: 20px;
  text-align: center;
  top: auto;
  width: 45px;
  z-index: 1000;
  padding: 10px;
  text-decoration: none;
}

.move-top:after {
  color: #ffffff;
  content: "\f176";
  font-family: FontAwesome;
  font-size: 16px;
  position: relative;
  box-sizing: content-box;
}