<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="Main">

        <v:variable.set name="ceItem" value="{records.0}"/>
        <v:variable.set name="settings" value="{data.pi_flexform.settings.card}"/>

        <div class="card card-cascade {settings.card_css_class}">

            <div class="view overlay zoom">
                <f:if condition="{ceItem.images}">
                    <f:for each="{ceItem.images}" as="file" iteration="iteration">
                        <f:render partial="Media/Type"
                                  arguments="{
                                      file: file,
                                      data: ceItem.data
                                  }"
                        />
                    </f:for>
                </f:if>
            </div>

            <div class="card-body {settings.card-body_css_class}">
                <f:if condition="{ceItem.data.button_text}">
                    <div class="{settings.button_wrap_css_class}">
                        <f:link.typolink parameter="{ceItem.data.button_link}">
                            <button type="button"
                                    class="btn {f:if(condition: '{settings.button_css_class}', then: '{settings.button_css_class}', else: 'btn-default')}"
                                    data-wow-delay="0.4s">
                                {ceItem.data.button_text}
                            </button>
                        </f:link.typolink>
                    </div>
                </f:if>
            </div>

        </div>

    </f:section>

</div>
