<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="CeDefaultLayout"/>

    <f:section name="CeMainSection">

        <f:for each="{files}" as="file" iteration="iteration">
            <f:render partial="Media/Type"
                      arguments="{
                          file: file,
                          width: 1100,
                          breakpoints: {
                            0: {cropVariant: 'wideScreen', media: '(min-width: 1200px)', srcset: {0: 1100}},
                            1: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 950}},
                            2: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                            3: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                            4: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                          },
                          data: data
                      }"
            />
        </f:for>

    </f:section>
</div>
