<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="Main">

        <f:alias map="{parallax: data.pi_flexform.settings.parallax}">

            <f:if condition="{records.0.backgroundImage.0}">
                <v:variable.set name="uri" value="{v:uri.image(src: '{records.0.backgroundImage.0}', relative: 0, treatIdAsReference: 1 )}"/>
            </f:if>

            <v:variable.set name="height" value="{parallax.option.height}px"/>
            <v:variable.set name="options" value="{data.pi_flexform.settings.all}"/>

            <f:for each="{records}" as="contentElement" iteration="iteration">

                <f:if condition="{iteration.cycle} == 1 ">
                    <div class="view jarallax"
                         data-jarallax='{"speed": 0.2}'
                         style="background-image: url({uri}); height:{height};">
                        <div class="full-bg-img">

                            <div class="mask {f:if(condition: '{contentElement.data.image_mask_css_class}', then: '{contentElement.data.image_mask_css_class}')}">

                                <div class="row">
                                    <div class="{options.caption_css_class}">
                                        <div>
                                            <f:if condition="{contentElement.images}">
                                                <f:for each="{contentElement.images}" as="file" iteration="iteration">
                                                    <f:render partial="Media/Type"
                                                              arguments="{
                                                              file: file,
                                                              data: contentElement.data,
                                                              class: 'd-inline'
                                                          }"
                                                    />
                                                </f:for>
                                            </f:if>

                                            <f:if condition="{contentElement.data.header_text}">
                                                <f:render partial="Header/All"
                                                          arguments="{
                                                data: {
                                                    header: contentElement.data.header_text,
                                                    header_layout: options.header_layout,
                                                    additionalCss: options.header_css_class
                                                }

                                              }"/>
                                            </f:if>

                                            <f:if condition="{contentElement.data.body_text}">
                                                <div class="{options.bodytext_css_class}">
                                                    <f:format.raw>{contentElement.data.body_text}</f:format.raw>
                                                </div>
                                            </f:if>


                                            <f:if condition="{contentElement.data.button_text}">
                                                <div class="{options.button_wrap_css_class}">
                                                    <f:link.typolink parameter="{contentElement.data.button_link}">
                                                        <button type="button"
                                                                class="btn {f:if(condition: '{options.button_css_class}', then: '{options.button_css_class}', else: 'btn-default')}"
                                                                data-wow-delay="0.4s">
                                                            {contentElement.data.button_text}
                                                        </button>
                                                    </f:link.typolink>
                                                </div>
                                            </f:if>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </f:if>


            </f:for>
        </f:alias>


    </f:section>

</div>
