<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="News"/>

<f:section name="Main">

    <f:if condition="{settings.templateLayout} == 1 ">
        <f:render section="DefaultListView" arguments="{_all}"/>
    </f:if>

    <f:if condition="{settings.templateLayout} == 2 ">
        <f:render section="HomepageListView" arguments="{_all}"/>
    </f:if>

</f:section>

<f:section name="DefaultListView">
    <f:if condition="{news}">
        <v:variable.set name="records" value="{gjoSe:GetMappedNewsRecordsToCERecords(newsRecords: news)}"/>

        <!--<div class="row">-->
            <div class="row" id="news-container-{contentObjectData.uid}">

                <f:if condition="{settings.hidePagination}">
                    <f:then>
                        <f:for each="{records}" as="record" iteration="iterator">
                            <f:render partial="News/List/DefaultListItem" arguments="{_all}"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <gjoSe:widget.paginate objects="{records}" as="paginatedRecords" configuration="{settings.list.paginate}">
                            <f:for each="{paginatedRecords}" as="record" iteration="iteration">
                                <f:render partial="News/List/DefaultListItem" arguments="{_all}"/>
                            </f:for>

                        </gjoSe:widget.paginate>
                    </f:else>
                </f:if>
            </div>
        <!--</div>-->
    </f:if>
</f:section>

<f:section name="DefaultListViewOriginal">
    <f:if condition="{news}">

        <div id="news-container-{contentObjectData.uid}">

            <f:if condition="{settings.hidePagination}">
                <f:then>
                    <f:for each="{news}" as="newsItem" iteration="iterator">
                        <f:render partial="News/List/DefaultListItem"
                                  arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                    </f:for>
                </f:then>
                <f:else>
                    <gjoSe:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
                        <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                            <f:render partial="News/List/DefaultListItem"
                                      arguments="{newsItem: newsItem,settings:settings,iterator:iterator}"/>
                        </f:for>
                    </gjoSe:widget.paginate>
                </f:else>
            </f:if>
        </div>
    </f:if>
</f:section>

<f:section name="HomepageListView">

    <!--set Variables Fix in Template
     TODO: news Flexform entsprechend erweitern-->

    <!--Config Start-->
    <v:variable.set name="carouselOptions"
                    value="{
                        0: 'fade',
                        1: 'loop',
                        2: 'pause'
                    }"/>
    <v:variable.set name="carouselCountItems"
                    value="{
                         0 : 'xs-1',
                         1 : 'sm-1',
                         2 : 'md-1',
                         3 : 'lg-1',
                         4 : 'xl-1'
                    }"/>
    <v:variable.set name="carousel"
                    value="{
                         caption_position : 'below',
                         caption_css_class : '',
                         header_layout : '3',
                         header_css_class : '',
                         bodytext_css_class: '',
                         button_wrap_css_class: '',
                         button_css_class: 'float-right',
                         indicator_type: 'numbers',
                         control_type: 'none',
                         card_css_class: ''
                    }"/>
    <!--Config End-->

    <v:variable.set name="intervall" value="5000"/>
    <v:variable.set name="xs-display" value="none"/>
    <v:variable.set name="sm-display" value="none"/>
    <v:variable.set name="md-display" value="none"/>
    <v:variable.set name="lg-display" value="none"/>
    <v:variable.set name="xl-display" value="none"/>

    <f:for each="{carouselOptions}" as="carouselOption">
        <f:switch expression="{carouselOption}">
            <f:case value="intervall-0">
                <v:variable.set name="intervall" value="0"/>
            </f:case>
            <f:case value="intervall-2500">
                <v:variable.set name="intervall" value="2500"/>
            </f:case>
        </f:switch>

        <f:if condition="{carouselOption} == 'ride' ">
            <v:variable.set name="ride" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'pause' ">
            <v:variable.set name="pause" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'fade' ">
            <v:variable.set name="fade" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'loop' ">
            <v:variable.set name="loop" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'show_thumbnails' ">
            <v:variable.set name="show_thumbnails" value="true"/>
        </f:if>
    </f:for>

    <f:if condition="{carouselOption} == 'ride' ">
        <v:variable.set name="ride" value="true"/>
    </f:if>
    <f:if condition="{carouselOption} == 'pause' ">
        <v:variable.set name="pause" value="true"/>
    </f:if>
    <f:if condition="{carouselOption} == 'fade' ">
        <v:variable.set name="fade" value="true"/>
    </f:if>
    <f:if condition="{carouselOption} == 'loop' ">
        <v:variable.set name="loop" value="true"/>
    </f:if>
    <f:if condition="{carouselOption} == 'show_thumbnails' ">
        <v:variable.set name="show_thumbnails" value="true"/>
    </f:if>

    <v:variable.set name="data" value="{uid: contentObjectData.uid}"/>

    <f:if condition="{news}">
        <v:variable.set name="records" value="{gjoSe:GetMappedNewsRecordsToCERecords(newsRecords: news)}"/>
        <f:render partial="ContentElements/Carousel/Carousel-col-12" arguments="{_all}"/>
    </f:if>

</f:section>

</html>