<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gjoSe="http://typo3.org/ns/GjoSe/GjoBase/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:switch expression="{data.layout}">
    <f:case value="0">
        <div class="{data.gjo_site_package_tca_col_additional_css}">
            <f:render section="CeMainSection"/>
        </div>
    </f:case>
    <f:case value="1">
        <div class="container {data.gjo_site_package_tca_col_additional_css}">
            <f:render section="CeMainSection"/>
        </div>
    </f:case>
    <f:case value="2">
        <div class="container-fluid {data.gjo_site_package_tca_col_additional_css} {data.flexform_row_css}">
            <div class="row justify-content-center">
                <div class="container px-xl-20">
                    <f:render section="CeMainSection"/>
                </div>
            </div>
        </div>
    </f:case>
</f:switch>
</html>
