<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">


    <f:render partial="Media/Type/Image"
              arguments="{
                  width: width,
                  breakpoints: breakpoints,
                  file: file,
                  L: L,
                  data: data,
                  class: class,
                  figure-class: figure-class
                  }"
    />
    <f:switch expression="{file.originalFile.type}">
        <f:case value="2">
            <!--@todo-c: file.type per Default auf 2 setzen, wenn Videos gefordert, ämdern-->
         </f:case>
        <f:case value="3">
            <!--todo-c: muss noch wie Image angepasst werden-->
            <f:render partial="Media/Type/Audio" arguments="{file: file, data: data, settings: settings}"/>
        </f:case>
        <f:case value="4">
            <!--todo-c: muss noch wie Image angepasst werden-->
            <f:render partial="Media/Type/Video" arguments="{file: file, data: data, settings: settings}"/>
        </f:case>
        <f:defaultCase>
            <!-- NOT SUPPORTED MEDIA TYPE -->
        </f:defaultCase>
    </f:switch>

    <!--for MappedNews-->

</div>